# NODE #
LOG_LEVEL=info
NODE_ENV=development

# MongoDB #
# Endpoint para el desarrollo local
MONGODB_URI_LOCAL=mongodb://localhost:27017/studium
# Endpoint de produccion
MONGODB_URI_PROD=mongodb://admin:da4e0f29044b0b014c3592dc4ac81faa0ce4b51145e89972@159.65.117.156:27017/studium?authSource=admin

# Authenticacion
# JWT Secret para NextAuth
NEXTAUTH_SECRET=studium_secret_test_2026
# Google OAuth
GOOGLE_CLIENT_ID=957034804217-6205hcjp7p617mpbq665tgmthhojpeg7.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Cloudflare R2 Bucket (Development) #
R2_BUCKET_NAME=studium-staging-files
R2_S3_ENDPOINT=https://976586d7b62decfd96979713f45e4c9b.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=81fe0656478d555bc7757fdc6e352dfc
R2_SECRET_ACCESS_KEY=44343118acd7d7404a3140d4f004a7065e57bc759df04e8c60beaf946d7ec404
NEXT_PUBLIC_R2_PUBLIC_URL=https://pub-cb1188736b0347e485de5bf6b589b4e9.r2.dev