# NODE #
LOG_LEVEL=info
NODE_ENV=development

# MongoDB #
# Endpoint para el desarrollo local
MONGODB_URI_LOCAL=mongodb://localhost:27017/studium
# Endpoint de produccion
MONGODB_URI_PROD=mongodb://admin:da4e0f29044b0b014c3592dc4ac81faa0ce4b51145e89972@159.65.117.156:27017/studium?authSource=admin

# Authenticacion
# JWT Secret para NextAuth
NEXTAUTH_SECRET=studium_secret_test_2026
# Google OAuth
GOOGLE_CLIENT_ID=957034804217-6205hcjp7p617mpbq665tgmthhojpeg7.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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