# NODE #
LOG_LEVEL=
NODE_ENV=

# MongoDB #
# Endpoint para el desarrollo local
MONGODB_URI_LOCAL=
# Endpoint de produccion
MONGODB_URI_PROD=

# Authenticacion
# JWT Secret para NextAuth
NEXTAUTH_SECRET=
# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# File uploads (100MB)
NEXT_PUBLIC_TASK_SUBMISSION_MAX_FILE_SIZE_BYTES=

# Cloudflare R2 Bucket (Development) #
R2_BUCKET_NAME=
R2_S3_ENDPOINT=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
NEXT_PUBLIC_R2_PUBLIC_URL=